@model IEnumerable<BarTracker.Models.Bar>
@{ViewBag.Title = "ListOfBars";}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Bar</title>
        <meta name="description" >
        <link rel="stylesheet" href="~/Content/listcss.css">
    </head>
    <body>
        <div class="container">
            
            <div class="tipoheader">
                <span class="label_bars">
                    <label class="label">Bar`s in @Model.FirstOrDefault().City</label>
                </span>
                <span class="sorting">
                    <label class="label">Sorting: </label>
                    <button class="rating">Rating</button>
                    <button class="date">Date</button>
                </span>
                <span class="signin" href="">
                    <img src="~/screenshots/sign_in.png">
                </span>
            </div>
            <div class="list">
                <div class="h">
                    <span class="name">Door 74</span>
                    <span class="rating">
                        <img src="~/screenshots/Star.png">
                    </span>
                </div>
                <div class="comment_content">Good news for all of the handsome men out there, Door 74 has a clear no bothering policy. If you want to enjoy a pleasant evening without being interrogated by…</div>
                <center class="read_more">
                    <button class="button_read_more" type="button" href="#">Read more</button>
                </center>
                
            </div>
            
        </div>
    </body>
</html>
