@model BarTracker.Models.User
    @{
    ViewBag.Title = "Index";
}

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>BarTracker</title>
    <meta name="description">
    <link rel='stylesheet prefetch' href='https://fonts.googleapis.com/css?family=Raleway'>
    <link rel='stylesheet prefetch' href='https://fonts.googleapis.com/icon?family=Material+Icons'>
    <link rel="stylesheet" href="~/Content/main.css">
</head>
<body>

    <div class="container">
            <a class=sign_in href="~/Views/Home/auth.cshtml">
                <img src="~/screenshots/sign_in.png" />
            </a>
    </div>

    <a class="amster" href="~/Views/Home/list.cshtml">
        <img src="~/screenshots/амстер.png" />
    </a>

    <a class="barcelona" href="~/Views/Home/list.cshtml">
        <img src="~/screenshots/барселона.png" />
    </a>

    <a class="berlin" href="~/Views/Home/list.cshtml">
        <img src="~/screenshots/берлин.png" />
    </a>

    <div class="content">
        Choose the city which is interesting for you:
    </div>
    <p>
        <input type="search" class="search" placeholder="Find your city" name="SearchCityTb">
        <input type="submit" class="search1" value="Search" name="SearchCityBtn">
    </p>

    <a class="welington" href="~/Views/Home/list.cshtml">
        <img src="~/screenshots/велингтон.png">
    </a>
    <a class="dublin" href="~/Views/Home/list.cshtml">
        <img src="~/screenshots/дублин.png">
    </a>
    <a class="content1">
        Or just click on the icon
    </a>
</body>
</html>

