
@{
    ViewBag.Title = "Index"; 
}

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>BarTracker</title>
    <meta name="description">
    <link rel='stylesheet prefetch' href='https://fonts.googleapis.com/css?family=Raleway'>
    <link rel='stylesheet prefetch' href='https://fonts.googleapis.com/icon?family=Material+Icons'>
    <link rel="stylesheet" href="~/Content/main.css">
</head>
<body>

    <div class="container">
        <input id="modal" type="checkbox">

        <label for="modal">
            <span class=sign_in href="#modal">
                <img src="~/screenshots/sign_in.png" />
            </span>
        </label>
        <label class="modal-background" for="modal"></label>
        <div class="modal-content">
            <label class="modal-close" for="modal">&#10005;</label>

            <input type="radio" name="tab" id="signin" checked="checked" />
            <input type="radio" name="tab" id="register" />
            <div class="pages">
                <div class="page">
                    <div class="input">
                        <div class="title"><i class="material-icons">account_box</i> USERNAME</div>
                        <input class="text" type="text" placeholder="" />
                    </div>
                    <div class="input">
                        <div class="title"><i class="material-icons">lock</i> PASSWORD</div>
                        <input class="text" type="password" placeholder="" />
                    </div>
                    <div class="input">
                        <input type="submit" value="ENTER" />
                    </div>
                </div>
                <div class="page signup">
                    <div class="input">
                        <div class="title"><i class="material-icons">person</i> NAME</div>
                        <input class="text" type="text" placeholder="" />
                    </div>
                    <div class="input">
                        <div class="title"><i class="material-icons">markunread_mailbox</i> EMAIL</div>
                        <input class="text" type="password" placeholder="" />
                    </div>
                    <div class="input">
                        <input type="submit" value="SIGN ME UP!" />
                    </div>
                </div>
            </div>
            <div class="tabs">
                <label class="tab" for="signin">
                    <div class="text">Sign In</div>
                </label>
                <label class="tab" for="register">
                    <div class="text">Register</div>
                </label>
            </div>
        </div>
    </div>

    <span class="amster" href="">
        <img src="~/screenshots/амстер.png" />
    </span>

    <span class="barcelona" href="">
        <img src="~/screenshots/барселона.png" />
    </span>

    <span class="berlin" href="">
        <img src="~/screenshots/берлин.png" />
    </span>

    <div class="content">
        Choose the city which is interesting for you:
    </div>
    <p>
        <input type="search" class="search" placeholder="Find your city">
        <input type="submit" class="search1" value="Search">
    </p>

    <span class="welington" href="">
        <img src="~/screenshots/велингтон.png">
    </span>
    <span class="dublin" href="">
        <img src="~/screenshots/дублин.png">
    </span>
    <span class="content1">
        Or just click on the icon
    </span>

</body>
</html>

