@model BarTracker.Models.User
@{
    ViewBag.Title = "Authorization";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>BarTracker</title>
    <meta name="description">
    <link rel='stylesheet prefetch' href='https://fonts.googleapis.com/css?family=Raleway'>
    <link rel='stylesheet prefetch' href='https://fonts.googleapis.com/icon?family=Material+Icons'>
    <link rel="stylesheet" href="~/Content/auth.css">
</head>
<body>
    <form action="@Url.Action("Authorization","MyAccount")" method="post" class=container>
        <div class="authorization">
            <div class="input">
                <div class="title"> USERNAME</div>
                <input class="text" type="text" placeholder="" name="Username" />
            </div>
            <div class="input">
                <div class="title"> PASSWORD</div>
                   <input class="text" type="password" placeholder="" name="Password"/>
            </div>
            <p></p>
            <div class="sign_in">
                <input type="submit" value="SIGN IN!"/>
            </div>
        </div> 
    </form>
</body>
</html>

