
body{
   background-color: #D7F0E6; 
}

.container {
    width: 100%;
    padding: 0px;
    margin: 0px;
    height: 100%;
    font-family: "Raleway";
    color: #333;
}



.signin img{
    max-width: 255px;
    float: right;
    
}


.label_bars {
    margin-left: 5%;
    display: flex;
    align-items: flex-end;
    font-size: 38px;
}

.sorting {
    margin-left: 25%;
    
}

.list {
  
  margin-top: 1%;
  margin-left: 5%;
  width: 63vw;
  height: auto;
  padding: 20px;
  background-color: white;
  border-radius: 3px;
  visibility: visible;
  transition: transform 50ms;
    
}

.rating img {
    width: 33px;
    
}

.username {
    font-size: 22px;
}

.comment {
    display: inline-flex;
}



.tipoheader {
    display: flex;
    align-items: flex-end;
}



.name {
    font-size: 24px;
}

.comment_content {
    margin-top: 1%;
}

.button_read_more {
    color: #50D09D;
    font-weight: 700;
    padding: .5em 2em;
    outline: none;
    border: 4px solid;
    border-radius: 2px;
    border-color: #50D09D;
    transition: 0.2s;
    align-content: center;
    }
.button_read_more:hover { background: #50D09D; color: white}

.h {
    display: inline-flex;
    align-items: center;
    
}

.sorting .rating {
    color: #50D09D;
    font-weight: 700;
    padding: .5em 2em;
    outline: none;
    border-radius: 9px;
    border-color: white;
    transition: 0.2s;
    align-content: center;
}
.sorting .rating:focus { border: 2px solid; border-color: #50D09D;}
.sorting .date {
    color: #50D09D;
    font-weight: 700;
    padding: .5em 2em;
    outline: none;
    border-radius: 9px;
    border-color: white;
    transition: 0.2s;
    align-content: center;
}
.signindiv {
    margin-right: 5%;
}

.plus img {
    width: 8%;
    float: right;
    margin-right: 18%;
    margin-top: 10%;
}

.sorting .date:focus { border: 2px solid; border-color: #50D09D;}

.email {
    
    
}
